.header {
    background-color: rgba(14, 21, 85, 0.877);
}

.header__logo {
    max-width: 125px;
    color: aliceblue;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 25px;
    max-width: 900px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}